/* AJUSTES GENERALES */
* {
    font-family: 'Product Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* overflow-x: hidden; */
}

/* cierre de ajustes generales */

/* GALERIA */
main img {
    display: block;
    width: 100%;
    height: 100%;
}

.small,
.normal,
.large {
    padding: 0px;
}

@media(min-width:100px) {
    .contenedor {
        width: 450px;
        margin: auto;
    }

    .fila {
        display: flex;
        /* display: -webkit-flex;
        display: -moz-flex;
        display: -o-flex;
        display: -ms-flex; */
    }

    .columna-1-3 {
        width: 33.33%;
    }

    .columna-2-3 {
        width: 66.67%;
    }

    .small {
        height: 200px;
    }

    .normal,
    .large {
        height: 400px;
    }

    .columna-50 {
        /* width: 50%; */
    }
}

@media(min-width:768px) {
    .contenedor {
        width: 750px;
    }

    .small {
        height: 150px;
    }

    .normal {
        height: 300px;
    }
}

@media(min-width:1024px) {
    .contenedor {
        width: 1000px;
    }

    .small {
        height: 200px;
    }

    .normal {
        height: 400px;
    }
}

/* menu desplegable */
.navbar-collapse {
    text-align: center;
    display: flex;
    justify-content: flex-end;
}
nav.navbar.navbar-expand-lg.bg div.container-fluid a.navbar-brand img{
    display: block;
    /* justify-content: right; */
    /* align-items: center; */
    position: relative;
    /* justify-items: center; */
    left: 550px;

}
/* cierre de menu */

/* botones */
.frame {
    width: 90%;
    margin: 10px 3px;
    text-align: center;

}

.frame span {
    font-weight: bold;
}

.frame a {
    text-decoration: none;
    color: #000;
}

.frame a:hover {
    color: #000;
}

button {
    margin: 20px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}



/* footer */
footer {
    background-color: burlywood;
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Product Sans', sans-serif;
    /* justify-content: ; */
}

.contenedor {
    /* display: block; */
    width: auto;
    height: auto;
    font-family: 'Product Sans', sans-serif;
}

footer .redes-sociales {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

footer .redes-sociales a {
    display: block;
    width: 60px;
    height: 60px;
    background: #000;
    color: #fff;
    margin: 20px;
    text-align: center;
    border-radius: 100px;
    transition: .3s ease all;
}

footer .redes-sociales .mail {
    background: #f14336;
}

footer .redes-sociales .whatsApp {
    background: #1bd741;
}

footer .redes-sociales .instagram {
    background: #c13584;
}

footer .redes-sociales a i {
    font-size: 20px;
    line-height: 60px;
}

footer .contenedor-icono:hover a {
    animation: icono .5s ease;
}

@keyframes icono {
    from {
        transform: rotate3d(0, 0, 0, 0);
    }

    to {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}

footer .creado-por {
    margin-bottom: auto;
    text-align: center;
    font-size: 14px;
    color: #000000;
    font-family: 'Product Sans', sans-serif;
}

footer .creado-por a {
    color: #000000;
    font-family: 'Product Sans', sans-serif;
}

footer .creado-por a:hover {
    text-decoration: underline;
    font-family: 'Product Sans', sans-serif;
}