/* AJUSTES GENERALES */
* {

    font-family: 'Product Sans', sans-serif;
    box-sizing: border-box;

    margin: 0px;
    padding: 0px;
}

img {
    width: 100%;
}

/* cierre de ajustes generales */

body {
    margin: 0;
    overflow-x: hidden;
    padding: 0px;
    background-color: ghostwhite;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.grid::after {
    content: '';
    flex-grow: 999999999;
}

.grid>figure {
    margin: 2px;
    background-color: violet;
    position: relative;
}

.grid>figure>i {
    display: block;
}

.grid>figure>img {
    position: absolute;
    top: 0;
    width: 100%;
    vertical-align: bottom;
}


/* menu desplegable */
.navbar-collapse {
    text-align: center;
    display: block;
    justify-content: end;

}

/* cierre de menu */

/* botones */
.frame {
    width: 90%;
    margin: 10px 3px;
    text-align: center;
}

button {
    margin: 20px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: rgb(253, 93, 0);
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-7 {
    /* background: linear-gradient(0deg, rgba(255, 151, 0, 1) 0%, rgba(251, 75, 2, 1) 100%); */
    line-height: 42px;
    padding: 0;
    border: none;
}

.btn-7 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-7:before,
.btn-7:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgba(251, 75, 2, 1);
    box-shadow:
        -7px -7px 20px 0px rgba(255, 255, 255, .9),
        -4px -4px 5px 0px rgba(255, 255, 255, .9),
        7px 7px 20px 0px rgba(0, 0, 0, .2),
        4px 4px 5px 0px rgba(0, 0, 0, .3);
    transition: all 0.3s ease;
}

.btn-7:before {
    height: 0%;
    width: 2px;
}

.btn-7:after {
    width: 0%;
    height: 2px;
}

.btn-7:hover {
    color: rgba(251, 75, 2, 1);
    background: transparent;
}

.btn-7:hover:before {
    height: 100%;
}

.btn-7:hover:after {
    width: 100%;
}

.btn-7 span:before,
.btn-7 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(251, 75, 2, 1);
    box-shadow:
        -7px -7px 20px 0px rgba(255, 255, 255, .9),
        -4px -4px 5px 0px rgba(255, 255, 255, .9),
        7px 7px 20px 0px rgba(0, 0, 0, .2),
        4px 4px 5px 0px rgba(0, 0, 0, .3);
    transition: all 0.3s ease;
}

.btn-7 span:before {
    width: 2px;
    height: 0%;
}

.btn-7 span:after {
    height: 2px;
    width: 0%;
}

.btn-7 span:hover:before {
    height: 100%;
}

.btn-7 span:hover:after {
    width: 100%;
}

/* galeria */

.tamaño1 img {
    width: 550px;
    height: 550px;
    /* object-fit: cover; */
    display: flex;
}

.tamaño2 img {
    width: 275px;
    height: 275px;
    /* object-fit: cover; */
    display: flex;
}

.tamaño3 img {
    width: 550px;
    height: 220px;
    /* object-fit: cover; */
    display: flex;
}

/* footer */
footer {
    background-color: burlywood;
}

footer .redes-sociales {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

footer .redes-sociales a {
    display: block;
    width: 60px;
    height: 60px;
    background: #000;
    color: #fff;
    margin: 20px;
    text-align: center;
    border-radius: 100px;
    transition: .3s ease all;
}

footer .redes-sociales .twitter {
    background: #1da1f2;
}

footer .redes-sociales .facebook {
    background: #3b5998;
}

footer .redes-sociales .instagram {
    background: #c13584;
}

footer .redes-sociales a i {
    font-size: 20px;
    line-height: 60px;
}

footer .contenedor-icono:hover a {
    animation: icono .5s ease;
}

@keyframes icono {
    from {
        transform: rotate3d(0, 0, 0, 0);
    }

    to {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}

footer .creado-por {
    margin-bottom: 40px;
    text-align: center;
    font-size: 14px;
    color: #000000;
}

footer .creado-por a {
    color: #000000;
}

footer .creado-por a:hover {
    text-decoration: underline;
}